doctype
html
    head
        meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title
            | Gulp Template
        link(href='css/index.css', rel='stylesheet', type='text/css')
    body
        h1
            | hello world

        script(src='js/index.js', type='text/javascript')